* {
  margin:0;
  padding:0;
}

nav ul {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  background-color: #bbb;
  position: fixed;
  top: 0;
  display: inline-block
}

nav li {
  background-repeat: no-repeat;
  float: left;
  background-color: #bbb;
  transition: 0.3s;
}

nav li.right {
  float: right;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

nav li.left {
  background-image: linear-gradient(#bbb, #eee);
  background-size: auto 200%;
  background-position: 0 -100%;
  transition: background-position 0.5s;
}

nav li.left:hover {
  background-position: 0 0;
}

nav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
