* {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

nav {
  z-index: 10;
  width: 100%;
  height: 51px;
  background-color: #FAFFFD;
  position: fixed;
  top: 0;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

nav li {
  background-repeat: no-repeat;
  float: left;
  background-color: inherit;
  transition: 0.3s;
  opacity: .99;
}

nav li.right {
  float: right;
  display: block;
  color: #3F403F;
  padding: 16px;
  text-decoration: none;
}

nav li.left {
  background-image: linear-gradient(#FAFFFD, #E1E5E4);
  background-size: auto 200%;
  background-position: 0 -100%;
  transition: background-position 0.5s;
}

#main-text {
  float: left;
  display: inline-block;
  color: #3F403F;
  padding: 16px;
  text-decoration: none;
  border-right-style: solid;
  border-right-width: 3px;
}

.dropdown {
  display: inherit;
  position: inherit;
}

.dropdown-content {
  display: block;
  visibility: hidden;
  position: fixed;
  max-width: 160px;
  z-index: -1;
  background-color: #E1E5E4;
  opacity: 0;
  transform: translateY(-1.5em);
  transition: all .0625s ease-out;
}

.dropdown-content li {
  position: relative;
  padding: 10px 10px;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0em);
}

nav li.left.special-hover:hover {
  background-position: 0 0;
}

nav a {
  display: block;
  color: #3F403F;
  padding: 16px;
  text-decoration: none;
  z-index: inherit;
}

nav .icon {
  display: none;
}

#arrow {
	display: none;
	height: 1.5em; 
	width: 1.5em;
	float: right;
}

footer {
  text-align: center;
  position: relative;
  clear: both;
  z-index: 10;
  height: 2em;
  padding-top: 1em;
  margin-top: -2em;
  background: #7D7F7E;
}

footer p {
  color: #3F403F;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  nav {
    position: relative;
  }
  
  nav .icon {
    float: right;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }

  nav.responsive li.icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  nav li:not(.icon) {
    display: none;
  }

  #main-text {
    float: none;
    display: block;
    color: #3F403F;
    padding: 16px;
    text-decoration: none;
    border-right-style: none;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  nav.responsive li {
    float: none;
    display: block;
  }

  nav.responsive li a {
    display: block;
    text-align: left;
  }
  
  .menu {
    background-color: #E1E5E4;
    width: 100%;
    overflow: auto;
  }
  
  .dropdown-content {
  	position: absolute;
  	z-index: auto;
    display: none;
    background-color: #A3A6A4;
    width: 100%;
    max-width: 100%;
    transform: none;
    opacity: 1;
    transform: translateY(3em);
  }
  
  .dropdown:hover .dropdown-content {
    display: none;
    transform: translateY(3em);
  }
  
  nav li.left {
    background-image: linear-gradient(#E1E5E4, #C8CCCA, #E1E5E4);
  }
  
  #arrow {
	  display: inline-block;
	  float: right;
  }
}
