* {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

nav ul {
  z-index: 1000;
  list-style-type: none;
  width: 100%;
  background-color: #bbb;
  position: fixed;
  top: 0;
  display: inline-block
}

nav li {
  background-repeat: no-repeat;
  float: left;
  background-color: #bbb;
  transition: 0.3s;
}

nav li.right {
  float: right;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

nav li.left {
  background-image: linear-gradient(#bbb, #eee);
  background-size: auto 200%;
  background-position: 0 -100%;
  transition: background-position 0.5s;
}

#main-text {
  float: left;
  display: inline-block;
  color: white;
  padding: 16px;
  text-decoration: none;
  border-right-style: solid;
}

.dropdown {
  display: inherit;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1000;
  background-color: inherit;
}

.dropdown-content a {
  display: block;
  position: relative;
  padding 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav li.left.special-hover:hover {
  background-position: 0 0;
}

nav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

nav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  nav .icon {
    float: right;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }

  nav.responsive li.icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  nav li:not(.icon) {
    display: none;
  }

  #main-text {
    float: none;
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    border-right-style: none;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown-content a {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  nav.responsive li {
    float: none;
    display: block;
  }

  nav.responsive li a {
    display: block;
    text-align: left;
  }

}
