html, body, #container {
  height: 100%;
}

body  #container {
  height: auto;
  min-height: 100%;
}

#content {
  padding-bottom: 3em;
  background: linear-gradient(#E1E5E4, #BCBFBE);
}

#content div {
  margin: 60px;
  margin-top: 3em;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(216, 213, 213, 0.31);
}

#content div div {
  background-color: #FFFFFF;
  padding: 1em;
  margin-top: 30px;
  margin-bottom: 30px;
}

#content div div.text {
  padding: 1em;
  min-height: fit-content;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  word-wrap: break-word;
}

#content div div.text ul {
  padding: 1em;
}

.blueberry .slides li * {
  display: inline;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #content div div {
    background-color: #FFFFFF;
    margin: 0.125em;
  }
  
  #content div {
    margin-top: 0em;
  }
}
