* {
	margin: 0;
	border: 0;
	font-family: sans-serif;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 40% 1fr;
	grid-auto-rows: minmax(100px, auto);
}

.center-box {
	background-color: orange;
	border-color: blue;
	
	padding: 10%;
	
	grid-column: 2;
	grid-row: 2;
}

.focus-box {
	background-color: yellow;
	padding: 2%;
	text-align: center;
}

.focus-box p {
	padding-top: 2%;
	display: block;
}

h1, #until {
	text-align: center;
	padding: 3%;
}

.timerbts {
	display: inline;
	border-radius: 3px;
	background-color: #f1f1f1;
}

.timerbts:hover {
	background-color: #d1d1f1;
}

#prev-timer {
	float: left;
}

#next-timer {
	float: right;
}

#timerCount {
	display: inline;
	text-align: center;
}

